h1,h3{
    font-family: cursive;
}
.jumbotron{
    background-color:lightblue;
}
#studyPic{
    background-image: url("../../img/studying.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}