h1{
    font-family: 'Acme', sans-serif;;
}

h2{
    font-family: 'Acme', sans-serif;;
}

h3{
    font-family: 'Roboto', sans-serif;
}

#webTitle{
    font-family: 'Acme', sans-serif;
    font-size: 100px;
}

.jumbotron{
    background-color:gold;
}

#studyPic{
    background-image: url("../../img/studying.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#map-col, #jumbo-col {
    padding: 0px;
}
#studyPic-col{
    padding: 0px;
}
